<script id="body_template" type="text/template">

   <div class="container">
      <div class="contents">
         <div class="dashboard">
         <a href="{{dashboard_url}}" class="button">Go to Dashboard</a>
         </div> 
         <h2>Activate Iguana Version {{version}}:</h2>
         <h4>Windows Administrator Login</h4>
         <p>
         To activate Iguana version 6.0.1 it's necessary to enter the name and password of a user
         with administrative privileges on the windows machine this Iguana instance is running on:
         </p>
         <form action="/update/activate" submit="activate">
         <table>
            <tbody>
               <tr><th colspan="2">Windows Administrator</th></tr>
               <tr><td>Username:</td><td><input name="username" type="text"></td></tr>
               <tr><td>Password:</td><td><input name="password" type="password"></td></tr>
               <tr><td colspan="2"><input value="Login" type="submit"></td></tr>
            </tbody>
         </table>
         <input value="{{version}}" name="version" type="hidden">
         </form>

      </div>
   </div>
   
</script>