      <script id="restart_login" type="text/template">      
         <div id="outer" class="outer">
         <div class="middle">
         <div class="inner">
               <div class="home">
                  <a href="#" onClick="updatePage()" class="button">Home</a>
               </div>                 
               <div class="dashboard">
               <a href="{{dashboard_url}}" class="button">Go to Dashboard</a>
               </div> 
               <h2>Re-start Iguana Instance For New License</h2>
               <h4>Windows Administrator Login</h4>
               <p>
               To re-start this Iguana instance it's necessary to enter the name and password of a user<br/>
               with administrative privileges on the windows machine this Iguana instance is running on:<br/>
               </p>
               <form id="restart_form" action="javascript:activateWindowsLicense('{{version}}')" submit="restart">
                  <table class="login">
                  <tbody>
                     <tr><th colspan="2">Windows Administrator</th></tr>
                     <tr><td>Username:</td><td><input name="username" type="text"></td></tr>
                     <tr><td>Password:</td><td><input name="password" type="password"></td></tr>
                     <tr><td colspan="2"><input value="Login" type="submit"></td></tr>
                  </tbody>
                  </table>
                 <input value="{{version}}" name="version" type="hidden">
                 <input value="icm-iguana-restart" name="action" type="hidden">  
               </form>  
               <div id="activating-{{version}}"></div>
         </div>
         </div>
         </div>
      </script>   