<script id="body_template" type="text/template">

   <div class="container">
      <div class="contents">
         <div class="dashboard">
         <a href="{{dashboard_url}}" class="button">Go to Dashboard</a>
         </div> 

         <h2>Activate Iguana Version #VERSION#:</h2>
         <h4>attempting to re-start iguana...</h4>         
         <p>there was an issue encountered re-start this Iguana instance...</p>
         <div class="status">
         <pre>ERROR: #EXIT_STATUS#</pre>
         </div>

      </div>
   </div>
   
</script>